[submodule "projects/sign-up-form"]
	path = projects/sign-up-form
	url = git@github.com:Dr3wsky/sign-up-form.git
[submodule "JavaScript30-exercises"]
	path = JavaScript30-exercises
	url = git@github.com:Dr3wsky/JavaScript30-exercises.git
[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:Dr3wsky/css-exercises.git
[submodule "projects/library-app"]
	path = projects/library-app
	url = git@github.com:Dr3wsky/library-app.git
[submodule "projects/tic-tac-toe"]
	path = projects/tic-tac-toe
	url = git@github.com:Dr3wsky/tic-tac-toe.git
[submodule "projects/weather-app"]
	path = projects/weather-app
	url = git@github.com:Dr3wsky/weather-app.git
[submodule "github-sandbox"]
	path = github-sandbox
	url = git@github.com:Dr3wsky/github-sandbox.git
